@use "../utilities/variables" as *;
.app-wraper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  .header-content {
    @apply tw-py-6 lg:tw-px-[150px] max-lg:tw-px-4;
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
    .pages-links {
      @apply max-lg:tw-hidden lg:tw-relative lg:tw-flex;
      align-items: center;
      gap: 20px;
      font-family: "Arial";

      .link {
        position: relative;
        color: $color-white;
        font-family: "Arial";
        text-decoration: none;
        cursor: pointer;
        transition: transform 0.3s ease; 
        &::after {
          content: "";
          position: absolute;
          width: 70%;
          transform: scaleX(0) translateX(-50%);
          height: 3px;
          bottom: -19px;
          left: 50%;
          z-index: 40;
          transition: transform 0.25s ease-out;
          background-color: #eb1c24;
        }
        &:not(.active):hover {
          transform: scale(1.05);
        }
      }
    }
    .icon-responsive {
      @apply lg:tw-hidden tw-bg-[#4d09ce] tw-p-3;
      cursor: pointer;
      font-size: 1.2rem;
      color: white;
    }
  }
  .main-application {
    width: 100%;
    height: 100%;
    background-color: $color-black;

    .content-application {
      position: relative;
      min-height: 100dvh;
      background-color: $color-black;
      .content-page {
        height: 100%;
        .general-filter {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
          margin-bottom: 1rem;
          .filter-section {
            display: flex;
            gap: 8px;
          }
        }
        .general-pages {
          @apply tw-grid tw-gap-4 tw-grid-cols-repeat2;
          @apply max-lg:tw-grid-cols-1;

          > :first-child {
            @apply tw-col-span-full;
            @apply max-lg:tw-col-span-1;
          }
        }
      }
    }
  }
}
