@use "../utilities/variables" as *;
.general-card {
  .p-card-body {
    .p-card-content {
      .title-vehicle-type {
        color: $color-1a1a29;
        font-family: "arial-bold";
        font-size: $font-size-16;
      }
    }
  }
}
