@use "../utilities/variables" as *;
.general-carousel {
  width: 100%;
  padding: 0 10px;
  max-width: 500px;
  .p-carousel-item {
    @apply tw-flex tw-justify-center;
  }
  .p-button {
    background-color: $color-efefef;
  }
}
