@use "../utilities/variables" as *;
.video-dialog {
  .p-dialog-content {
    padding: 0 !important;
    background: #000;
    .video-container {
      position: relative;
      width: 100%;
      background: #000;
      border-radius: 4px;
      overflow: hidden;
      video {
        width: 100%;
        height: auto;
        max-height: 70vh; /* Limitar altura máxima */
        display: block;
      }

      i {
        color: $color-white;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .p-dialog-header {
      background: #1e1e1e;
      color: #fff;
    }

    .p-dialog-header-close {
      &:hover {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}

.p-dialog-mask.p-overlay-mask {
  background: $color-black;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}
