@use "../utilities/variables" as *;
.general-drawer {
  &.menu-mobile-drawer {
    @apply lg:tw-min-w-96 max-lg:tw-w-11/12;
    .p-drawer-content {
      @apply tw-flex tw-justify-between tw-flex-col;
      .menu-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: "SourceSans3-SemiBold";

        .link {
          position: relative;
          color: $color-black;
          font-family: "SourceSans3-SemiBold";
          font-size: $font-size-32;
          text-decoration: none;
          width: auto;
          cursor: pointer;
          &.active {
            &::after {
              content: "";
              z-index: 40;
              transform: scaleX(1) translateX(0);
              transform-origin: bottom left;
              clip-path: polygon(
                0 30%,
                calc(100% - 10px) 30%,
                calc(100% - 10px) 0,
                100% 50%,
                calc(100% - 10px) 100%,
                calc(100% - 10px) 70%,
                0 70%
              );
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 70%;
            transform: scaleX(0) translateX(0);
            height: 10px;
            bottom: -8px;
            left: -20px;
            z-index: 40;
            transition: transform 0.25s ease-out;
            background-color: $color-black;
            clip-path: polygon(
              0 30%,
              calc(100% - 10px) 30%,
              calc(100% - 10px) 0,
              100% 50%,
              calc(100% - 10px) 100%,
              calc(100% - 10px) 70%,
              0 70%
            );
          }
          &:not(.active):hover {
            opacity: 0.9;
            &::after {
              transform: scaleX(1) translateX(0);
              z-index: 40;
              transform-origin: bottom left;
              clip-path: polygon(
                0 30%,
                calc(100% - 10px) 30%,
                calc(100% - 10px) 0,
                100% 50%,
                calc(100% - 10px) 100%,
                calc(100% - 10px) 70%,
                0 70%
              );
            }
          }
        }
      }
      .social-media {
        @apply tw-flex tw-gap-4 lg:tw-justify-center;
        img {
          cursor: pointer;
        }
      }
    }
  }
}
