@use "../utilities/variables" as *;
.general-drawer {
  &.menu-mobile-drawer {
    @apply lg:tw-min-w-96 max-lg:tw-w-11/12;
    border: none;
    .p-drawer-header {
      background-color: $primary-1;
      border: none;
    }
    .p-drawer-content {
      @apply tw-flex tw-justify-between tw-flex-col tw-mt-10;
      .menu-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: "SourceSans3-SemiBold";

        .link {
          position: relative;
          color: $color-black;
          font-family: "Arial";
          text-decoration: none;
          cursor: pointer;
          transition: transform 0.3s ease;
          font-size: 20px;
          &::after {
            content: "";
            transition: transform 0.25s ease-out;
          }
          &:not(.active):hover {
            transform: scale(1.05);
          }
        }
      }
      .social-media {
        @apply tw-flex tw-gap-4 lg:tw-justify-center;
        img {
          cursor: pointer;
        }
      }
    }
    .p-drawer-close-button {
      i {
        color: white !important;
      }
    }
  }
}
