@use "../utilities/variables" as *;
.general-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: $font-size-16;
  color: $color-1a1a29;
  input {
    width: 100%;
    border: none;
  }
}

.general-input.solo-login {
  label {
    font-size: $font-size-13;
    font-family: "arial-bold";
    color: $color-f8f8f8;
    font-weight: normal;
  }
  input {
    background: $color-f5f6fa;
    border-radius: 14px;
    padding: 12px 15px;
    height: 42px;

    &::placeholder {
      font-size: $font-size-16;
      color: $color-bfbfbf;
      font-family: "arial-italic";
    }
  }
  .p-inputgroup {
    background: $color-f5f6fa;
    border-radius: 14px !important;
    input {
      background: none !important;
      border-radius: none !important;
    }
  }
}

.general-input.solo-filter {
  width: 100%;
  max-height: 30px;
  input {
    border-radius: 14px;
    background: rgb($color-white, 0.5);
    padding: 4px 23px;
    border: none;
    color: $color-white;
    &::placeholder {
      font-size: $font-size-15;
      color: $color-white;

      font-family: "SourceSans3-Regular";
    }
    &:hover {
      border-color: $color-black-3;
    }
    &:enabled:focus {
      border-color: $color-black-3;
    }
  }
}
.general-input.solo-form {
  label {
    color: $color-1a1a29;
    font-family: "Ubuntu", sans-serif;
    font-size: $font-size-15;
    font-weight: 400;
  }
  textarea,
  input {
    border-radius: 5px;
    background: $color-white;
    padding: 10px 23px;
    border: none;
    font-size: $font-size-16;

    &::placeholder {
      font-size: $font-size-16;
      color: $color-bfbfbf;
      font-family: "arial-italic";
    }
    &:hover {
      border-color: $color-black-3;
    }
    &:enabled:focus {
      border-color: $color-black-3;
    }
  }
  .p-inputgroup {
    background: $color-f5f6fa;
    border-radius: 14px !important;
    input {
      background: none !important;
      border-radius: none !important;
    }
  }
}
