@use "../utilities/variables" as *;

.general-title {
  color: $color-black;
  font-size: 24px;
  font-family: "arial-bold";
  margin: 10px 0;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.h1-title {
  @apply lg:tw-text-[3.5rem] max-lg:tw-text-[2.5rem];
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  color: $color-white;
}
.h3-primary {
  font-size: $font-size-32;
  color: $color-white;
  font-family: "impact";
  margin: 0;
  font-weight: normal;
}
.found-title {
  color: $color-black;
  font-size: 24px;
  font-family: "arial-bold";
  margin: 10px 0;
}
.text-s-black {
  color: $color-1a1a29;
  font-size: $font-size-14;
  font-family: "arial-bold";
}
.subtitles {
  color: $color-1a1a29;
  font-size: $font-size-24;
  font-family: "arial-bold";
}
