@font-face {
  font-family: "SourceSans3-Black";
  src: url("/fonts/SourceSans3-Black.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-BlackItalic";
  src: url("/fonts/SourceSans3-BlackItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-Bold";
  src: url("/fonts/SourceSans3-Bold.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-BoldItalic";
  src: url("/fonts/SourceSans3-BoldItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-ExtraBold";
  src: url("/fonts/SourceSans3-ExtraBold.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-ExtraBoldItalic";
  src: url("/fonts/SourceSans3-ExtraBoldItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-ExtraLight";
  src: url("/fonts/SourceSans3-ExtraLight.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-ExtraLightItalic";
  src: url("/fonts/SourceSans3-ExtraLightItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-Italic";
  src: url("/fonts/SourceSans3-Italic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-Light";
  src: url("/fonts/SourceSans3-Light.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-LightItalic";
  src: url("/fonts/SourceSans3-LightItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-Medium";
  src: url("/fonts/SourceSans3-Medium.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-MediumItalic";
  src: url("/fonts/SourceSans3-MediumItalic.ttf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceSans3-Regular";
  src: url("/fonts/SourceSans3-Regular.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-SemiBold";
  src: url("/fonts/SourceSans3-SemiBold.ttf");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-SemiBoldItalic";
  src: url("/fonts/SourceSans3-SemiBoldItalic.ttf");
  font-display: swap;
  font-style: italic;
}

.source-sans-black {
  font-family: "SourceSans3-Black" !important;
}

.source-sans-black-italic {
  font-family: "SourceSans3-BlackItalic" !important;
}

.source-sans-bold {
  font-family: "SourceSans3-Bold" !important;
}

.source-sans-bold-italic {
  font-family: "SourceSans3-BoldItalic" !important;
}

.source-sans-extrabold {
  font-family: "SourceSans3-ExtraBold" !important;
}

.source-sans-extrabold-italic {
  font-family: "SourceSans3-ExtraBoldItalic" !important;
}

.source-sans-extralight {
  font-family: "SourceSans3-ExtraLight" !important;
}

.source-sans-extralight-italic {
  font-family: "SourceSans3-ExtraLightItalic" !important;
}

.source-sans-italic {
  font-family: "SourceSans3-Italic" !important;
}

.source-sans-light {
  font-family: "SourceSans3-Light" !important;
}

.source-sans-light-italic {
  font-family: "SourceSans3-LightItalic" !important;
}

.source-sans-medium {
  font-family: "SourceSans3-Medium" !important;
}

.source-sans-medium-italic {
  font-family: "SourceSans3-MediumItalic" !important;
}

.source-sans-regular {
  font-family: "SourceSans3-Regular" !important;
}

.source-sans-semibold {
  font-family: "SourceSans3-SemiBold" !important;
}

.source-sans-semibold-italic {
  font-family: "SourceSans3-SemiBoldItalic" !important;
}
